.quests {
	color: #FFF;
	width: 600px;
	padding: 10px;
	border: 1px solid #ca973c;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 0 10px #000;
	-webkit-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
	background: #1f1f1f; 
}

.quest-container {
	float: right;
	margin: 10px;
}

a.quest-name {
	color: #fce8c8;
	text-decoration: none;
}

a.quest-name:hover {
	color: #FFF;
	text-decoration: none;
}

.quest-status {
  width: 400px;
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
  font-size: 90%;
}
.quest-status li {
  clear: both;
  margin: 0;
  padding: 0 0 0.8em 0;
  position: relative;
}
.quest-status strong {
  padding: 0 10px 0 0;
  font-weight: normal;
  position: absolute;
  left: 0;
}
.quest-status em {
  padding: 0 0 0 25px;
  font: 110%/100% Georgia, "Times New Roman", Times, serif;
  position: absolute;
  right: 0;
}