.summary-world {
	width: 750px;
	height: 440px;
	text-shadow: #000 1px 1px 0;
	color: white;
	border-spacing: 0;
	padding: 0;
	background-position: center bottom;
}

.summary-world .content {
	margin-top: 10px;
	padding: 15px 15px 60px 15px;
	background: rgba(0, 0, 0, 0.5);	
}

.summary-travel .content .text{
	padding: 10px;
	text-align: center;
	font-size: 24px;
	clear: both;
}

.summary-travel {
	background-image: url('../../images/zones/default.jpg');
}

.summary-travel .countdown {
	margin-top: 120px;
	padding: 15px 15px 60px 15px;
	background: rgba(0, 0, 0, 0.5);
}

.summary-travel .countdown .text{
	padding: 10px;
	text-align: center;
	font-size: 24px;
	clear: both;
}

.summary-world .tableholder {
	margin-left: 160px;
	margin-top:  80px;
}

table.world-table {
	padding: 0;
	background: #FFE599;
}

.world-table td {
	width: 80px;
	height: 80px;
	color: #000;
	text-align: center;
}

.world-table td.sea {
	background: #A4C2F4;
}

.world-table td.land {
	background: #FFF2CC;
	-moz-box-shadow: inset 0 0 30px #FFD966;
	-webkit-box-shadow: inset 0 0 30px #FFD966;
	box-shadow: inset 0 0 30px #FFD966;
}

.world-table td.city {
	background: #FFD966;
}

.world-table td.active {
	background: #FFE599;
	-moz-box-shadow: inset 0 0 20px #c19100;
	-webkit-box-shadow: inset 0 0 20px #c19100;
	box-shadow: inset 0 0 20px #c19100;
}

.world-table a {
	vertical-align: middle;
}
