.summary-zone {
  width: 750px;
  text-shadow: #000 1px 1px 0;
  color: white;
  border-spacing: 0;
  padding: 0;
}

.quest-header {
	color: #fce8c8;
	display: block;
	margin: 5px;
	font-size: 1.1em;
}

.quest-header:hover {
	color: #fce8c8;
}

.npc-name {
  font-variant: small-caps;
  font-size: 14px;
  padding: 0 0 0 5px;
}

.npc-subname {
  font-style: italic;
  font-size: 10px;
  padding: 0 0 0 10px;
}

.friendly {
  color: #49f013;  
}

.friendly:hover {
  color: #7af453;  
}

.neutral {
  color: #ebf735;  
}

.neutral:hover {
  color: #f0f966;  
}

.hostile {
  color: #bf1c28;  
}

.hostile:hover {
  color: #dd202e;  
}

li.quest-name {
  padding: 2px;
}

img.quest {
  margin: 3px 3px 5px 3px;
}

img.arrow {
  margin: 3px 3px 5px 3px; 
}

.quest-status {
  width: 500px;
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
  font-size: 90%;
}
.quest-status li {
  clear: both;
  margin: 0;
  padding: 0 0 0.8em 0;
  position: relative;
}
.quest-status strong {
  padding: 0 10px 0 0;
  font-weight: normal;
  position: absolute;
  left: 0;
}
.quest-status em {
  padding: 0 0 0 25px;
  font: 110%/100% Georgia, "Times New Roman", Times, serif;
  position: absolute;
  right: 0;
}

#trade-log {
  margin: 10px;
}

