html {
  cursor: url('../../assets/images/default.gif'), auto;
}

html, body {
  margin:0px;
  padding:0px;
  height:100%;
  background-color: #06090e;
  color: #e8e8e8;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 12px;
}

a.red {
  color: #FF4400;
}

.epic-font {
  font-family: 'Metamorphous', 'Open Sans', sans-serif;
}

.shards-of-magic {
  font-family: 'Cinzel Decorative';
  vertical-align: middle;
}

.shards-of-magic a {
  text-decoration: none;  
  color: #de9400;
  letter-spacing: -2.5px;
  text-shadow:#241209 0 0 5px,0px 0px 0 rgb(119,45,-103),1px 1px 0 rgb(92,18,-130),2px 2px 0 rgb(64,-10,-158),3px 3px 0 rgb(37,-37,-185), 4px 4px 0 rgb(10,-64,-212),5px 5px 4px rgba(0,0,0,1),5px 5px 1px rgba(0,0,0,0.5),0px 0px 4px rgba(0,0,0,.2);
}

.shards-of-magic a:hover {
  color: #ffb623;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
  padding: 0;
}

.navbar .nav {
  margin: 0;
  display: table;
  width: 100%;
}

.navbar .nav li {
  display: table-cell;
  width: 1%;
  float: none;
}

.navbar .nav li a {
  font-weight: bold;
  text-align: center;
  border-right: 1px solid rgba(0,0,0,.1);
}

.navbar .nav li:first-child a {
  border-left: 0;
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}

.navbar .nav li:last-child a {
  border-right: 0;
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
}
    

h3 {
  font-size: 21px;
  line-height: 1;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 0;
}

.numbers {
  font-family: Georgia,"New York CE",Utopia,serif;
  font-weight: normal;
}

.cursor-trade {
  cursor: url('../../assets/images/trade.gif'), pointer;
}

hr {
	-webkit-box-shadow: 1px 1px 0px rgba(255,255,255,.05);
	-moz-box-shadow: 1px 1px 0px rgba(255,255,255,.05);
	box-shadow: 1px 1px 0px rgba(255,255,255,.05);
	height: 1px;
	border: none;
	background: black;
	margin-top: 10px;
	border-image: initial;
}

textarea {
  font-family: 'Open Sans', sans-serif;
}

input.gold {
  background: url('../images/core/gold.png') no-repeat scroll 5px 8px;
  padding-left: 23px;
}

select {
  background: white;
  color: #707070;
  padding: 7px;
  margin: 4px;
  font-size: 12px;
  line-height: 38px;
  border: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 5px #361005;
  -webkit-box-shadow: 0 0 5px #361005;
  box-shadow: 0 0 5px #361005;
  width: 193px;
}

.tooltip{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
}

.default, table.default {
	color: #FFF;
  margin: 0 auto;
  padding: 8px;
	border: 1px solid #ca973c;
  position:relative;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.3) inset;
     -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.3) inset;
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.3) inset;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
	background: #1f1f1f; 
}

table.default td, table.default th {
  border: 0;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px;
}

#wrap > .container {
  margin-bottom: 40px;
  background-color: transparent;
}

.page-content {
  display: block;
  padding: 10px;
}

#push, #footer {
  height: 34px;
}

#footer {
  padding-top: 5px;
  border-top: 1px solid #ca973c; 
  background: url('../../assets/images/tile.jpg') repeat;
}

.page-content, .navbar-inner, .char-info {
  border: 1px solid #ca973c;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: url('../../assets/images/tile.jpg') repeat;
  -webkit-box-shadow:inset 0 0 100px rgba(0, 0, 0, 0.3), 0 1px 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow:inset 0 0 100px rgba(0, 0, 0, 0.3), 0 1px 10px rgba(0, 0, 0, 0.6);
  box-shadow:inset 0 0 100px rgba(0, 0, 0, 0.3), 0 1px 10px rgba(0, 0, 0, 0.6);

}

.char-info {
  max-width: 550px;
  margin-top: 10px;
  padding: 10px;
}

.navbar {
  margin-top: 10px;
}

.navbar .nav > li:hover a {
  color: #de9400;
}

.navbar .nav > li > a {
  color: #e8e8e8;
  text-shadow: none;
}

.iconframe {
  display: inline-block;
  overflow: hidden;
  vertical-align: text-top;
  padding: 1px;
  background-color: black;
  background-position: 1px 1px;
  background-repeat: no-repeat;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #434445;
  border-bottom-color: #2F3032;
  border-top-color: #B1B2B4;
  margin-top: 3px;
}

.iconframe.frame32 {
  width: 32px;
  height:32px;
}

.iconframe.frame16 {
  width: 16px;
  height:16px;
}

/* ITEMS */
.item, .spell {
  width: 46px;
  height: 46px;
  margin: 5px 0 0 0;
}

a.item, a.spell {
  width: 44px;
  height: 44px;
}

a.item img, a.spell img {
  display: block;
  width: 44px;
  height: 44px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 8px black;
  -webkit-box-shadow: 0 0 8px black;
  box-shadow: 0 0 8px black;
}

.q0 {
  color: #888 !important;
  text-shadow: 0 0 2px #000;
}

.q1 {
  color: #FFF !important;
  text-shadow: 0 0 2px #000;
}

.q2 {
  color: #0C0 !important;
  text-shadow: 0 0 2px #000;
}

.q3 {
  color: #267FFA !important;
  text-shadow: 0 0 2px #000;
}

.q4 {
  color: #8f06fa !important;
  text-shadow: 0 0 2px #000;
}

.q5 {
  color: #fda649 !important;
  text-shadow: 0 0 2px #000;
}

img.q0 {
  border: 2px solid #888 !important;
}

img.q1 {
  border: 2px solid #FFF !important;
}

img.q2 {
  border: 2px solid #0C0 !important;
}

img.q3 {
  border: 2px solid #267FFA !important;
}

img.q4 {
  border: 2px solid #8f06fa !important;
}

img.q5 {
  border: 2px solid #fda649 !important;
}

.physical-damage {
  color: #a40808;
}

.fire-damage {
  color: #ff7e00;
}
  .fire-damage-light {
    color: #000; text-shadow:#ff7e00 0 0 3px, #f98640 0 0 2px;
  }

.frost-damage {
  color: #40a4f9;
}
  .frost-damage-light {
    color: #000; text-shadow:#40a4f9 0 0 3px, #40c3f9 0 0 2px;
  }

.earth-damage {
  color: #84df0d;
}
  .earth-damage-light {
    color: #000; text-shadow:#84df0d 0 0 3px, #aff258 0 0 2px;
  }

.void-damage {
  color: #999;
}
  .void-damage-light {
    color: #000; text-shadow:#999 0 0 3px, #CCC 0 0 2px;
  }

.light-healing {
  color: #fff261;
}

img.money-icon {
  vertical-align:middle;
  margin-left:2px;
  margin-right:4px;
}

.bonus {
  color: #1EFF00 !important;
  display: inline;
}

.character-info-name {
  display: block;
  font-size: 26px;
  font-weight: bold;
  color: white;
  letter-spacing: -0.05em;
}